# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de entorno
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

MONGODB_URI=mongodb+srv://discordbot:miContraseñaSegura@cluster0.mongodb.net/?retryWrites=true&w=majority

# Archivos del sistema
.DS_Store
Thumbs.db
